<%= link_to 'ユーザー管理',user_path(current_user) %>
<br>
<%= link_to '新規投稿', new_item_path %>
<div class="content">
  <% @items.each do |item| %> 
    <p>タイトル：<%= item.title %></p>
    <p>本文：<%= item.text %></p>
  <% end %>
</div>
